[Proxy]
login=proxy
password=somestrongpasswd
startport=15000
quantitypersubnet=100
input=self #self/one

[Servers]
    #example for 1 subnet
    [[Server1]]
    ip=127.0.0.1
    login=root
    password=somestrongpasswd
    proxynetwork=10.10.10.0/24
    #example for similar subnets
    [[Server2]]
    ip=127.0.0.1
    login=root
    password=somestrongpasswd
    proxynetwork=10.10.10.0/24,10.10.20.0/24
