proxy:
  hosts:
    proxy1:
      ansible_host: 127.0.0.1
      ansible_ssh_user: root
      ansible_ssh_pass: strong_password
      ipv4: 127.0.0.1
      nipv6: 2222:aaaa:b
      nipv664: 2222:bbbb:cccc:aaaa

  vars:
    net_type: 64
    count: 10
    rotate_type: castom
    proxy_password: strong_proxy_password
