[Unit]
Description=3proxy
After=network.target

[Service]
Type=forking
PIDFile=/tmp/3proxy.pid
WorkingDirectory={{ PROXY_DIR }}
User=root
Group=root
LimitNOFILE=65536
LimitNPROC=65536
LimitSIGPENDING=65536
ExecStart={{ PROXY_DIR }}/3proxy {{ PROXY_DIR }}/3proxy.cfg
ExecStop=/usr/bin/killall 3proxy
ExecReload=/usr/bin/killall 3proxy && {{ PROXY_DIR }}/3proxy {{ PROXY_DIR }}/3proxy.cfg
TimeoutSec=1
RemainAfterExit=no
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target