{% raw %}
#!/bin/bash

echo daemon
echo maxconn 20000
echo nserver 127.0.0.1
echo nserver 8.8.8.8
echo nserver 1.1.1.1
echo nscache 65536
echo timeouts 1 5 30 60 180 1800 15 60
echo setgid 65534
echo setuid 65534
echo pidfile /home/3proxy/3proxy.pid
echo flush
echo auth strong
{% endraw %}
echo users admin:CL:{{ proxy_password }}
echo allow admin

port=30000
for i in `cat /home/3proxy/ip.list`; do
    echo "proxy -6 -s0 -n -a -p$port -i{{ ipv4 }} -e$i"
    ((port+=1))
done