#!/bin/bash
ulimit -n 600000
ulimit -u 600000

/sbin/ip -6 addr add {{ nipv664 }}::2/64 dev eth0
/sbin/ip -6 route add default via {{ nipv664 }}::1
/sbin/ip -6 route add local {{ nipv6 }}::/{{ net_type }} dev lo

exit 0

