 - sysctl:
    name: net.ipv6.conf.eth0.proxy_ndp
    value: 1
    sysctl_set: yes

 - sysctl:
    name: net.ipv6.conf.all.proxy_ndp
    value: 1
    sysctl_set: yes

 - sysctl:
    name: net.ipv6.conf.default.forwarding
    value: 1
    sysctl_set: yes

 - sysctl:
    name: net.ipv6.conf.all.forwarding
    value: 1
    sysctl_set: yes

 - sysctl:
    name: net.ipv6.ip_nonlocal_bind
    value: 1
    sysctl_set: yes

 - sysctl:
     name: vm.max_map_count
     value: 95120
     sysctl_set: yes

 - sysctl:
     name: kernel.pid_max
     value: 95120
     sysctl_set: yes

 - sysctl:
     name: kernel.threads-max
     value: 240260
     sysctl_set: yes

 - file:
     path: '/root/{{ item }}'
     state: directory
     mode: 0755
   with_items:
     - 'ndppd'

 - name: Copy binary ndppd
   copy:
     src: bin/ndppd
     dest: /root/ndppd/ndppd
     mode: 0744

 - name: Send 3proxy.sh
   template:
      src: 3proxy.j2
      dest: /home/3proxy/3proxy.sh
      mode: 0755

 - name: Start install proxy 36/32
   include: tasks/36_32.yml
   when: net_type == 36 or net_type == 32

 - name: Start install proxy 64/48
   include: tasks/64_48.yml
   when: net_type == 64 or net_type == 48

 - name: Create ip.list
   shell: /home/3proxy/random.sh > /home/3proxy/ip.list
   args:
     executable: /bin/bash

 - name: Create 3proxy.cfg
   shell: /home/3proxy/3proxy.sh > /home/3proxy/3proxy.cfg
   args:
     executable: /bin/bash

 - name: Copy rotate.sh
   copy:
     src: rotate.sh
     dest: /home/3proxy/rotate.sh
     mode: 0744

 - name: Add rotate cron
   cron:
     name: "rotate proxies"
     minute: '{{ cron_minute }}'
     hour: '{{ cron_hour }}'
     job: "/home/3proxy/rotate.sh"
   when: rotate | bool
   tags:
   - cron

 - name: Change owner to nobody
   file:
     path: /home/3proxy
     owner: nobody
     group: nogroup
     recurse: yes

 - name: Exec file rc.local
   shell: /etc/rc.local
   args:
     executable: /bin/bash

 - name: Send systemd .service file
   copy:
     src: 3proxy.service
     dest: /etc/systemd/system/3proxy.service
     mode: 0744

 - name: start 3proxy.service
   systemd: state=restarted name=3proxy daemon_reload=yes enabled=yes
   tags: systemd
